/.idea
/.vs
/Lab3/.idea/
/Lab3/.vs/
/Lab3/Lab3/obj
/Lab3/Lab3/bin
/Lab4/.idea/
/Lab4/.vs/
/Lab4/AutoKek/obj/
/Lab4/AutoKek/.idea/
/Lab4/AutoKek/bin/
/Lab5/.idea/
/Lab5/.vs/
/Lab5/Lab5/obj
/Lab5/Lab5/bin